* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f1da70;
}

#root {
    margin: 0 auto;
}

.header {
    position: relative;
    top: 0;
    margin: auto;
    width: 80%;
    min-width: 440px;
    padding: 14px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.header-title {
    font-size: 32px;
    font-weight: bold;
    background: radial-gradient( 50% 50% at 50% 50%, rgba(242, 90, 90, 0.54) 0%, rgba(29, 2, 2, 0.85) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-decoration: none;
}

.navigation-wrapper {
    margin-bottom: 0;
}

.navigation-list {
    display: flex;
    padding: 10px;
    align-items: flex-start;
    list-style: none;
}

.badge {
    position: relative;
    top: -10px;
    right: -10px;
    background: dodgerblue;
    color: white;
    padding: 4px 6px;
    border-radius: 6px;
}

.navigation-item {
    font-weight: bold;
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
    margin: auto 12px;
    font-size: 18px;
}

.contain {
    position: relative;
}

.contain::after {
    content: '....';
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    bottom: -20px;
    right: -20px;
}


/* loader */

.loader {
    display: flex;
    width: 100px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20%);
}

.dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    animation: 600ms swing infinite alternate;
}

.dot:nth-child(1) {
    background: red;
    animation-delay: 0s;
    top: 0;
    left: 0;
}

.dot:nth-child(2) {
    background: orange;
    animation-delay: 200ms;
    top: 0;
    left: 25%;
}

.dot:nth-child(3) {
    background: green;
    animation-delay: 400ms;
    top: 0;
    left: 50%;
}

.dot:nth-child(4) {
    background: blue;
    animation-delay: 600ms;
    top: 0;
    left: 75%;
}

@keyframes swing {
    0% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(20px);
    }
}